@using Nop.Plugin.Misc.IssueManagement.Models

@inject Nop.Services.Localization.ILocalizationService localizationService

@model EditBasicInfoPanelModel

<div class="panel-body">
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="Name" />
        </div>
        <div class="col-md-9">
            <div class="form-text-row">
                @Model.Name
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="Description" />
        </div>
        <div class="col-md-9">
            <div class="form-text-row">
                @Model.Description
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="Deadline" />
        </div>
        <div class="col-md-9">
            @if (Model.Deadline.HasValue)
            {
                <div class="form-text-row">
                    @Model.Deadline.Value.ToShortDateString() @Model.Deadline.Value.ToShortTimeString()
                </div>
            }
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="Priority" />
        </div>
        <div class="col-md-9">
            <div class="form-text-row">
                @localizationService.GetLocalizedEnum(Model.Priority.Value)
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="Status" />
        </div>
        <div class="col-md-9">
            <div class="form-text-row">
                @localizationService.GetLocalizedEnum(Model.Status.Value)
            </div>
        </div>
    </div>
</div>